html {
  background-color: #383838;
  color: #C0C0C0;
}

.root h1 {
  color: #ff7b00;
  padding-bottom: 0px;
}

.root h2 {
  padding-top: 0px;
}

.btn {
  border-radius: 8px;
}

.submit-button {
  size: 120%;
}

.name-heading {
  margin: 1vh;
  font-size: large;
}

.name-input {
  background-color: #C0C0C0;
  color: black;
  margin: 1vh;
  font-size: large;
}

.submit-btn {
  margin-left: 1vh;
  background-color: #2a2a2a;
  color: #ff7b00;
  border-color: #2a2a2a;
  font-size: large;
}

.center-column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.names-box {
  border-width: 2px;
  border-radius: 8px;
  border-color: #C0C0C0;
}

.names {
  display: flex;
  justify-self: space-between;
  flex-direction: column;
  justify-content: center;
  list-style: outside none none;
}

.title {
  padding: 2vh;
}

.shuffle-btn-div {
  padding: 1vh;
  display: flex;
  justify-content: center;
}

.shuffle-btn {
  height: 6vh;
  width: 12vh;
  background-color: #2a2a2a;
  color: #ff7b00;
  border-color: #2a2a2a;
  font-size: 1.8em;
}

.name-li {
  display: flex;
  justify-content: space-between;
  gap: 1vh;
  padding: 5px 10px;
}

.name-li button {
  background-color: #2a2a2a;
  color: #ff7b00;
  border-color: #2a2a2a;
}

.comb-box {
  border-width: 2px;
  border-radius: 8px;
  border-color: #C0C0C0;
  margin: 1vh;
}

.combinations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#combs {
  padding: 1vh;
}

#names {
  padding: 1vh;
}